.container {
    padding-left: 45px;
    padding-right: 45px;
}

.header {
    padding: 0px 0px;
}

.position {
    font-size: large;
    margin-bottom: 0px;
}

.date {
    font-size: 12px;
    margin-top: 4px;
    font-style: italic;
    color: grey;
}


li{
  margin: 8px 0;
}
